CalculatorClient/xml-resources/web-service-references/WebSolarsystem/wsdl/localhost_8080/WebSolarsystem.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService/" name="WebSolarsystemService">
<types>
<xsd:schema>
<xsd:import namespace="http://webService/" schemaLocation="http://localhost:8080/WebSolarsystem?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getNames">
<part name="parameters" element="tns:getNames"></part>
</message>
<message name="getNamesResponse">
<part name="parameters" element="tns:getNamesResponse"></part>
</message>
<message name="addMoon">
<part name="parameters" element="tns:addMoon"></part>
</message>
<message name="addMoonResponse">
<part name="parameters" element="tns:addMoonResponse"></part>
</message>
<message name="addSolarsystem">
<part name="parameters" element="tns:addSolarsystem"></part>
</message>
<message name="addSolarsystemResponse">
<part name="parameters" element="tns:addSolarsystemResponse"></part>
</message>
<message name="addPlanet">
<part name="parameters" element="tns:addPlanet"></part>
</message>
<message name="addPlanetResponse">
<part name="parameters" element="tns:addPlanetResponse"></part>
</message>
<message name="solarsystemExists">
<part name="parameters" element="tns:solarsystemExists"></part>
</message>
<message name="solarsystemExistsResponse">
<part name="parameters" element="tns:solarsystemExistsResponse"></part>
</message>
<message name="getPlanetDiameter">
<part name="parameters" element="tns:getPlanetDiameter"></part>
</message>
<message name="getPlanetDiameterResponse">
<part name="parameters" element="tns:getPlanetDiameterResponse"></part>
</message>
<portType name="WebSolarsystem">
<operation name="getNames">
<input wsam:Action="http://webService/WebSolarsystem/getNamesRequest" message="tns:getNames"></input>
<output wsam:Action="http://webService/WebSolarsystem/getNamesResponse" message="tns:getNamesResponse"></output>
</operation>
<operation name="addMoon">
<input wsam:Action="http://webService/WebSolarsystem/addMoonRequest" message="tns:addMoon"></input>
<output wsam:Action="http://webService/WebSolarsystem/addMoonResponse" message="tns:addMoonResponse"></output>
</operation>
<operation name="addSolarsystem">
<input wsam:Action="http://webService/WebSolarsystem/addSolarsystemRequest" message="tns:addSolarsystem"></input>
<output wsam:Action="http://webService/WebSolarsystem/addSolarsystemResponse" message="tns:addSolarsystemResponse"></output>
</operation>
<operation name="addPlanet">
<input wsam:Action="http://webService/WebSolarsystem/addPlanetRequest" message="tns:addPlanet"></input>
<output wsam:Action="http://webService/WebSolarsystem/addPlanetResponse" message="tns:addPlanetResponse"></output>
</operation>
<operation name="solarsystemExists">
<input wsam:Action="http://webService/WebSolarsystem/solarsystemExistsRequest" message="tns:solarsystemExists"></input>
<output wsam:Action="http://webService/WebSolarsystem/solarsystemExistsResponse" message="tns:solarsystemExistsResponse"></output>
</operation>
<operation name="getPlanetDiameter">
<input wsam:Action="http://webService/WebSolarsystem/getPlanetDiameterRequest" message="tns:getPlanetDiameter"></input>
<output wsam:Action="http://webService/WebSolarsystem/getPlanetDiameterResponse" message="tns:getPlanetDiameterResponse"></output>
</operation>
</portType>
<binding name="WebSolarsystemPortBinding" type="tns:WebSolarsystem">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getNames">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addMoon">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addSolarsystem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addPlanet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="solarsystemExists">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPlanetDiameter">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WebSolarsystemService">
<port name="WebSolarsystemPort" binding="tns:WebSolarsystemPortBinding">
<soap:address location="http://localhost:8080/WebSolarsystem"></soap:address>
</port>
</service>
</definitions>